In [21]:
# Step 1. Import the necessary libraries
import pandas as pd

In [22]:
# Step 2. Import the dataset and assign it to a variable called users.
users = pd.read_excel("C:\\Users\\xinga\\OneDrive\\文档\\GitHub\\AI-Project\\occupation.xlsx")

In [34]:
# Step 3. Discover what is the mean age per occupation
users.groupby('occupation').mean()

                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

In [91]:
# Step 4. Discover the Male ratio per occupation and sort it from the most to the least
myData = users[users.gender == 'M']
maleData = myData.groupby('occupation')['gender'].count()
totalData = users.groupby('occupation')['gender'].count()
ratio = maleData/totalData
# we will get ratio by divide.
# then we use sort function
sortedData = ratio.sort_values(ascending=False)

In [92]:
# print out sortedData
sortedData

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [86]:
#Step 5. For each occupation, calculate the minimum and maximum ages

In [93]:
2ruodfjugd

SyntaxError: invalid syntax (2118162543.py, line 1)