In [11]:
import numpy as np
import keras
import pandas as pd
import tensorflow as tf
from keras.layers import Dense
from keras.models import Sequential
from keras.layers import TextVectorization
from keras.utils import pad_sequences
from nltk.tokenize.toktok import ToktokTokenizer
import nltk

In [5]:
datas = pd.read_csv('C:\\Users\\xinga\\OneDrive\\文档\\GitHub\\AI-Project\\dataset\\IMDB Dataset.csv')
datas

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [6]:
#Summary of the dataset
datas.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [7]:
#split the dataset  
#train dataset
train_reviews=datas.review[:40000]
train_sentiments=datas.sentiment[:40000]
#test dataset
test_reviews=datas.review[40000:]
test_sentiments=datas.sentiment[40000:]
print(train_reviews.shape,train_sentiments.shape)
print(test_reviews.shape,test_sentiments.shape)

(40000,) (40000,)
(10000,) (10000,)

In [14]:
#Tokenization of text
tokenizer=ToktokTokenizer()
#Setting English stopwords
stopword_list=nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\xinga\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True